body {background-size: cover;
    background-image: url(241471616_394823935568287_8526758986529112896_n.jpg);
    background-color: ;
    text-align:center ;
    font-style: normal ;
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: beige;
}
.linkki {color:black}


